<!doctype html>
<html>
  <head>
    <title>evomats</title>
  </head>
  <body>
    <div>
      <!-- Note the "-" before the "%}"; this instructs Jinja to strip whitespace so there
      are no spaces between the <div>s. -->
      <p> You need: </p>
      {% for name in names | batch(2) %}  
          <p> {{name[1]}} x {{name[0]|string}} </p>
      {%- endfor %}
      {% for iconURL in iconURLs -%}
       <img src={{iconURL}}>
      {%- endfor %}
    </div>
    <a href = "/index.html"><p>Back to table of contents</p></a>
  </body>
</html>
